body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(43, 57, 68);
  color: rgb(152, 163, 163);
  overflow-x: hidden;
}

.book-input {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: "book1 book2 book3";
}

#book1 {
  grid-area: book1;
  justify-self: center;
}

#book2 {
  grid-area: book2;
  justify-self: center;
}

#book3 {
  grid-area: book3;
  justify-self: center;
}

@media only screen and (max-width: 820px) {
  .book-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    margin-inline: 100px;
  }

  button.form-submit--active {
    height: 80px;
  }
  .book-card--output.book-card--active {
    width: 80vw;
  }
  .down-icon.down-icon {
    width: 15vw;
  }
  .book-overlay.book-overlay {
    position: sticky;

    margin: -20px -20px -20px -20px;
    padding: 10px;
  }
  .book-overlay--hidden.book-overlay--hidden {
    height: 12%;
  }
}
input {
  color: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 3px maroon solid;
  transition: 0.5 ease;
}

input:focus {
  border-bottom: 3px rgb(152, 163, 163) solid;
  transition: 0.5s ease;
}

.input--validated {
  border-bottom: 3px rgb(27, 134, 72) solid;
  transition: all ease 0.5s;
}

.title {
  font-size: 1.1em;
  grid-area: title;
  padding-inline: 10px;
}

.author {
  grid-area: author;
  font-size: 0.8em;
  padding-inline: 10px;
}

.cover {
  grid-area: image;
  box-shadow: 0px 0px 24px -6px rgba(43, 57, 68, 0.47);
  border-radius: 5%;
}
.book-card {
  border-radius: 2%;
  color: rgb(43, 57, 68);
  width: 80%;
  height: 0px;
  background-color: rgba(177, 204, 211, 0.534);
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "image title"
    "image author ";
  align-items: center;
  justify-items: center;
  /* padding: 0px; */
  box-shadow: inset 0px 0px 12px 0px rgba(43, 57, 68, 0.47);
  overflow-y: hidden;
  transition: all 0.8s ease;
}

.book-card--active {
  border-radius: 2%;
  color: rgb(43, 57, 68);
  width: 80%;
  height: 200px;
  background-color: rgba(177, 204, 211, 0.534);
  margin-top: 15px;

  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "image title"
    "image author ";
  align-items: center;
  justify-items: center;
  padding: 10px;
  box-shadow: inset 0px 0px 12px 0px rgba(43, 57, 68, 0.47);
  overflow-y: hidden;
  transition: all 0.8s ease;
}

.book-card--output {
  width: 25%;
}

.book-output {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.book-card--selected {
  background-color: rgba(177, 204, 211, 1);
}

.book-card--active:hover {
  background-color: rgba(177, 204, 211, 1);
}

.book-card--active > * {
  pointer-events: none;
}

.form-submit {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgba(177, 204, 211, 1);
  border-radius: 0.19em;
  box-sizing: border-box;
  text-decoration: none;
  width: 50%;
  height: 3vw;
  color: rgb(177, 211, 197);
  background-color: rgb(43, 57, 68);
  text-align: center;
  transition: all 0.2s;
  opacity: 0%;
}
.form-submit--active {
  opacity: 100%;
  transition: all 0.2s ease;
}

.form-submit--active:hover {
  color: rgb(43, 57, 68);
  background-color: rgba(177, 204, 211, 1);
}

.book-overlay {
  background-color: rgba(58, 87, 100, 0.9);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s all ease-out;
}

.book-overlay--active {
  height: 100%;
}

.book-overlay--hidden {
  height: 9%;
  overflow-y: hidden;
}

.down-icon {
  margin: 10px auto;
  width: 3%;
  height: auto;
  background-color: rgba(43, 57, 68, 0.6);
  border-radius: 50%;
  transition: ease 0.2s;
}

.down-icon:hover {
  cursor: pointer;
  opacity: 50%;
  transition: ease 0.2s;
}

img {
  max-height: 205px;
}

.book-input__book1--loading {
  animation: bounce 2s infinite ease-in-out;
}

.book-input__book2--loading {
  animation: bounce 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

.book-input__book3--loading {
  animation: bounce 2s infinite ease-in-out;
  animation-delay: 1s;
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
  }
  33% {
    -webkit-transform: translate(0, -5px);
  }
  66% {
    -webkit-transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  }
}
